@font-face {
  font-family: 'Lora';
  src: url('/assets/fuentes/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/assets/fuentes/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fuentes/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
    background-color: #b6b6db; 
    color: #fff; /* Color del texto */
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden; /* Evita que el usuario haga scroll horizontal */
    max-width: 100vw; /* Evita que el ancho del body sea mayor que el viewport */
}

header {
  background-color: #191c29;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  width: 100%;
}

.opciones_centrales {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  color: white;
  width: 100%;
}

.enlaces {
  color: white;
  text-decoration: none;
}

.enlaces:hover {
  color: #dba72e;
  transition: color 0.8s;
}

.logo {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50px;
}

.logo:hover {
  filter: drop-shadow(0 0 10px #dba72e);
  transition: filter 0.8s;
}

.logo_nombre {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  gap: 10px; 
  position: absolute;
  left: 15px;
}

.logo_nombre label{
  color: white;
  padding-left: 100px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 280px;
  height: 80px;
  position: absolute; 
  right: 50px;
  top: 0;
}

.carousel-track {
  display: flex;
  animation: scroll 10s linear infinite;
}

.carousel-item {
  min-width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  margin: 0 5px;
  border-radius: 10px;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
.carousel:hover .carousel-track {
  animation-play-state: paused;
}

  /*pruebas */
.configuracionTarjetas {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  perspective: 900px;
  margin-top: 400px;
}

.container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#posicion {
  background: linear-gradient(to bottom, #5e73eb 0%, #59a0d7 40%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#posicion_gecko {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #5e73eb 0%, #59a0d7 40%);
  box-shadow: 0px 20px 100px #555;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
}

span {
  position: absolute;
  top: 0%;
  left: 55%;
  border-radius: 100%;
  background-color: #fff;
  z-index: 10;
}

.texto_colibri {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to bottom, #5e73eb 0%, #59a0d7 40%);
  z-index: 30;
}

.imagen_colibri{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.imagen_toro{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.imagen_gecko{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 30;
}

.info {
  position: absolute;
  top: 55%;
}

.info_colibri {
  position: absolute;
  top: 20%;
}

h3 {
  text-align: center;
  text-shadow: 0px 0px 10px #eee;
  color: #eee;
  letter-spacing: 2px;
}

h4 {
  color: #111;
  position: absolute;
  top: 30%;
  left: 30%;
  letter-spacing: 2px;
}

h1 {
  color: #111;
  position: fixed;
  top: 0%;
  left: 30%;
  letter-spacing: 2px;
}

p {
  font-size: 14px;
  color: #fff;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

.titulo_prueba {
  font-family: 'Pacifico', serif;
  color: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  
}

.parrafo_prueba{
  font-family: 'Lora', serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}

/*Formulario*/

.contenedor_contacto{
  margin-top: 25%;
  margin-left: 50%;
}

.contact-form {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  transform: translate(-50%, -50%);
  
}
.contact-form h1 {
  font-size: 24px;
  color: #333;
  margin-left: 20px;
  padding-top: 10px;
}

.contact-form p {
  font-size: 14px;
  color: #666;
  padding-top: 30px;
}

.contact-form label {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.contact-form input, .contact-form select, .contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background: #2dc2e4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #54db91;
}